@use '../config' as *;

.hero {
    background-image: url('../assets/img/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 70px 116px;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      padding-block: 60px 70px;
    }

    @include media-breakpoint-down(sm) {
      padding-block: 40px 60px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-bottom: 85px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 40px;
        }

        &-subtitle {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 30px;
            line-height: 150%;
            letter-spacing: 0.03em;
            color: #f6f6f6;
        }

        &-title {
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 40px;
            line-height: 137%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #f6f6f6;

            @include media-breakpoint-down(lg) {
                font-size: 25px;
                line-height: 160%;
            }
        }
    }

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: fluid(100, 0);

        @include media-breakpoint-down(lg) {
            flex-direction: column-reverse;
            column-gap: initial;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include media-breakpoint-down(lg) {
            padding-inline: 78px;
        }

        @include media-breakpoint-down(md) {
          padding-inline: 0;
        }

        &-text {
            display: inline-block;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.03em;
            color: #f6f6f6;
            margin-bottom: 15px;

            @include media-breakpoint-down(sm) {
                font-size: 14px;
                margin-bottom: 20px;
            }
        }

        &-subtitle {
            display: inline-block;
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 25px;
            line-height: 160%;
            letter-spacing: 0.03em;
            color: #f6f6f6;
            margin-bottom: 5px;
        }

        .btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 30px;
            padding: 7px 25px;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
            background: #fff;
            border: 1px solid #fff;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            letter-spacing: 0.03em;
            color: #1d1d1b;
            white-space: nowrap;
            transition: all .3s ease;

            @include media-breakpoint-down(lg) {
              padding: 12px 25px;
            }

            @media(hover:hover){
                &:hover {
                    background-color: transparent;
                    border: 1px solid #e1e1e1;
                    color: #f0f0f0;
                }
            }
        }
    }

    &__swiper {
        width: 67%;
        flex-shrink: 0;
        position: relative;
        right: clamp(-30px, calc((1280px - 100vw) * 1), 0px);

        @include media-breakpoint-down(lg) {
            width: 100%;
            right: initial;
            margin-bottom: 40px;
        }

        @include media-breakpoint-down(md) {
            &.swiper {
                overflow: visible;
            }
        }

    }

    &__cards {
        display: flex;
        align-items: flex-start;
        column-gap: fluid(20, 16);

        @include media-breakpoint-down(lg) {
            column-gap: 16px;
            justify-content: center;
        }

        @include media-breakpoint-down(md) {
            justify-content: flex-start;
            column-gap: initial;
        }
    }

    
    &__card {
        position: relative;
        aspect-ratio: 4 / 5;
        
        &--1 { flex: 0 1 258px; aspect-ratio: 258 / 322; }
        &--2 { flex: 0 1 270px; aspect-ratio: 270 / 340; }
        &--3 { flex: 0 1 250px; aspect-ratio: 250 / 312; }
        
        &.swiper-slide {
            flex-shrink: 1;

            @include media-breakpoint-down(md) {
                flex-shrink: 0;
            }
        }
        
        &-img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        &-top {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 30px;
            padding: 8px 17px;
            background: #fff;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            letter-spacing: 0.03em;
            color: #1d1d1b;
            position: absolute;
            top: 10px;
            right: 10px;
            transition: padding .3s ease;

            @include media-breakpoint-down(lg) {
                border-radius: 24px;
                padding: 6px 13px;
                font-size: 14px;
            }

            @include media-breakpoint-down(md) {
                border-radius: 30px;
                padding: 8px 17px;
            }

            @media(hover:hover) {
                &:hover {
                    padding-right: 39px;

                    &::before,
                    &::after {
                        opacity: 1;
                        transition: opacity .2s ease;
                        transition-delay: .2s;
                    }
                }
            }

            &::before,
            &::after {
                content: '';
                background-color: #1D1D1B;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 2px;
                opacity: 0;
            }

            &::before {
                width: 1px;
                height: 12px;
                right: 26px;
            }

            &::after {
                width: 12px;
                height: 1px;
                right: 20px;
            }

        }

        &-bottom {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 1px solid #fff;
            border-radius: 50px;
            padding: 7px 20px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 15px;
            line-height: 150%;
            letter-spacing: 0.03em;
            color: #fff;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            position: absolute;
            left: 10px;
            bottom: 10px;

            @include media-breakpoint-down(lg) {
                font-size: 14px;
                border-radius: 40px;
                padding: 5px 16px;
            }

            @include media-breakpoint-down(md) {
                border-radius: 50px;
                padding: 7px 20px;
            }
        }
    }
}